# Aviation Accidents Data Analysis

* Student name: Tracy Gwehona
* Student pace: Full Time
* Instructor name: Mwikali

## Business Understanding

### Overview

The company is planning to enter into the aviation industry in order to diversify its assets, with the intention of purchasing and operating airplanes for commercial and private enterprises. This project analyzes aviation accident data sourced from Kaggle to identify airplanes with the lowest risk to the company.
A descriptive analysis of the data such as accident frequency, severity and other factors will highlight which aircrafts pose the least safety, financial and operational risks.
The company can use this analysis to decide which airplanes to purchase.

### Business Problem

The company may be able to minimize the risks of safety and financial liabilities associated with the operation of an aircraft by selecting the safest and most reliable models.
I aim to:
1. Identify low risk airplane models.
2. Evaluate the severity and frequency of accidents.
3. Assess factors that contribute to accidents.
4. Provide recommendations for selecting the best airplanes based on the data analysis results.

Doing so will help the company to make informed decisions on which airplanes to purchase.

## Data Understanding

The [aviation accident dataset](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses) sourced from Kaggle originally obtained from the [National Transportation Safety Board](https://www.ntsb.gov/Pages/home.aspx) contains a detailed record of airplane accidents. Every accident has a unique ID, that is, 'Event.Id' and includes important details such as the date, location, airplane make and model, the severity of injuries, etc. The dataset also captures factors like weather conditions and the phase of flight. This dataset allows for comprehensive analysis of accident patterns, risk factors, etc and to understand the relationship between airplane models, accident severity, and environmental factors

In [1]:
# Import standard packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# load dataset

aviation_data = pd.read_csv('data/Aviation_Data.csv', low_memory=False)
aviation_data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [3]:
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
aviation_data.shape

(90348, 31)

In [5]:
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [6]:
aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

## Data Preparation

### Data Cleaning

In [7]:
# Make column names easier to use

aviation_data.columns = aviation_data.columns.str.lower().str.replace('.', '_')

In [8]:
# Check for null values

aviation_data.isna().sum()

event_id                   1459
investigation_type            0
accident_number            1459
event_date                 1459
location                   1511
country                    1685
latitude                  55966
longitude                 55975
airport_code              40099
airport_name              37558
injury_severity            2459
aircraft_damage            4653
aircraft_category         58061
registration_number        2776
make                       1522
model                      1551
amateur_built              1561
number_of_engines          7543
engine_type                8536
far_description           58325
schedule                  77766
purpose_of_flight          7651
air_carrier               73700
total_fatal_injuries      12860
total_serious_injuries    13969
total_minor_injuries      13392
total_uninjured            7371
weather_condition          5951
broad_phase_of_flight     28624
report_status              7840
publication_date          16689
dtype: int64

In [9]:
# Drop rows with null values in the primary key column; 'accident_number'

aviation_data = aviation_data.dropna(subset = ['accident_number'])

In [10]:
# Check the percentage of mising values for every column

aviation_data.isna().sum()/len(aviation_data)*100

event_id                   0.000000
investigation_type         0.000000
accident_number            0.000000
event_date                 0.000000
location                   0.058500
country                    0.254250
latitude                  61.320298
longitude                 61.330423
airport_code              43.469946
airport_name              40.611324
injury_severity            1.124999
aircraft_damage            3.593246
aircraft_category         63.677170
registration_number        1.481623
make                       0.070875
model                      0.103500
amateur_built              0.114750
number_of_engines          6.844491
engine_type                7.961615
far_description           63.974170
schedule                  85.845268
purpose_of_flight          6.965991
air_carrier               81.271023
total_fatal_injuries      12.826109
total_serious_injuries    14.073732
total_minor_injuries      13.424608
total_uninjured            6.650992
weather_condition          5.053494
broad_phase_of_flight     30.560587
report_status              7.178616
publication_date          17.133729
dtype: float64

In [11]:
# Drop columns that have more than 35% of their data missing

drop_columns =  ['latitude', 'longitude', 'airport_code', 'airport_name', 'aircraft_category', 'far_description', 'schedule',
                'air_carrier']
aviation_data = aviation_data.drop(columns = drop_columns)

In [13]:
# Drop columns that are irrelevant to my analysis

drop_columns_2 = ['event_id', 'location', 'country', 'registration_number', 'broad_phase_of_flight', 'report_status', 
                  'publication_date']
aviation_data = aviation_data.drop(columns = drop_columns_2)

In [14]:
aviation_data.isna().sum()

investigation_type            0
accident_number               0
event_date                    0
injury_severity            1000
aircraft_damage            3194
make                         63
model                        92
amateur_built               102
number_of_engines          6084
engine_type                7077
purpose_of_flight          6192
total_fatal_injuries      11401
total_serious_injuries    12510
total_minor_injuries      11933
total_uninjured            5912
weather_condition          4492
dtype: int64

In [15]:
# Fill missing values of dtype object columns with 'Unknown'

aviation_data['aircraft_damage'].fillna('Unknown', inplace=True)
aviation_data['injury_severity'].fillna('Unknown', inplace=True)
aviation_data['engine_type'].fillna('Unknown', inplace=True)
aviation_data['purpose_of_flight'].fillna('Unknown', inplace=True)
aviation_data['weather_condition'].fillna('Unknown', inplace=True)

In [16]:
# Drop the rows with missing values

aviation_data = aviation_data.dropna(subset=['make', 'model', 'amateur_built', 'number_of_engines', 'total_fatal_injuries', 
                                            'total_serious_injuries', 'total_minor_injuries', 'total_uninjured'])

In [17]:
aviation_data.isna().sum()

investigation_type        0
accident_number           0
event_date                0
injury_severity           0
aircraft_damage           0
make                      0
model                     0
amateur_built             0
number_of_engines         0
engine_type               0
purpose_of_flight         0
total_fatal_injuries      0
total_serious_injuries    0
total_minor_injuries      0
total_uninjured           0
weather_condition         0
dtype: int64

In [18]:
# Check for duplicate rows

aviation_data.duplicated('accident_number').sum()

16

In [19]:
# Remove duplicates based on the 'accident_number' column

aviation_data = aviation_data.drop_duplicates(subset='accident_number', keep='first')

In [20]:
# Reset the index after removing duplicates

aviation_data.reset_index(drop=True, inplace=True)

In [21]:
aviation_data

,investigation_type,accident_number,event_date,injury_severity,aircraft_damage,make,model,amateur_built,number_of_engines,engine_type,purpose_of_flight,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition
0,Accident,SEA87LA080,1948-10-24,Fatal(2),Destroyed,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK
1,Accident,LAX94LA336,1962-07-19,Fatal(4),Destroyed,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK
2,Accident,LAX96LA321,1977-06-19,Fatal(2),Destroyed,Rockwell,112,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC
3,Accident,CHI81LA106,1981-08-01,Fatal(4),Destroyed,Cessna,180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,IMC
4,Accident,SEA82DA022,1982-01-01,Non-Fatal,Substantial,Cessna,140,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69574,Accident,WPR23LA065,2022-12-13,Non-Fatal,Substantial,PIPER,PA42,No,2.0,Unknown,Unknown,0.0,0.0,0.0,1.0,Unknown
69575,Accident,ERA23LA090,2022-12-14,Non-Fatal,Substantial,CIRRUS DESIGN CORP,SR22,No,1.0,Unknown,Personal,0.0,0.0,0.0,1.0,VMC
69576,Accident,WPR23LA069,2022-12-15,Non-Fatal,Substantial,SWEARINGEN,SA226TC,No,2.0,Unknown,Unknown,0.0,0.0,0.0,1.0,Unknown
69577,Accident,ERA23LA091,2022-12-16,Minor,Substantial,CESSNA,R172K,No,1.0,Unknown,Personal,0.0,1.0,0.0,0.0,VMC
69578,Accident,WPR23LA075,2022-12-26,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,Unknown,Personal,0.0,0.0,0.0,1.0,VMC

In [22]:
# Standardize missing data representations

aviation_data['injury_severity'].replace('Unavailable', 'Unknown', inplace=True)
aviation_data['engine_type'].replace('UNK', 'Unknown', inplace=True)
aviation_data['weather_condition'].replace('UNK', 'Unknown', inplace=True)
aviation_data['weather_condition'].replace('Unk', 'Unknown', inplace=True)

In [30]:
# Create year column for future analysis

aviation_data['year'] = [date[:4] for date in aviation_data['event_date']]

In [31]:
aviation_data

,investigation_type,accident_number,event_date,injury_severity,aircraft_damage,make,model,amateur_built,number_of_engines,engine_type,purpose_of_flight,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,year
0,Accident,SEA87LA080,1948-10-24,Fatal(2),Destroyed,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,Unknown,1948
1,Accident,LAX94LA336,1962-07-19,Fatal(4),Destroyed,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Unknown,1962
2,Accident,LAX96LA321,1977-06-19,Fatal(2),Destroyed,Rockwell,112,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,1977
3,Accident,CHI81LA106,1981-08-01,Fatal(4),Destroyed,Cessna,180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,IMC,1981
4,Accident,SEA82DA022,1982-01-01,Non-Fatal,Substantial,Cessna,140,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69574,Accident,WPR23LA065,2022-12-13,Non-Fatal,Substantial,PIPER,PA42,No,2.0,Unknown,Unknown,0.0,0.0,0.0,1.0,Unknown,2022
69575,Accident,ERA23LA090,2022-12-14,Non-Fatal,Substantial,CIRRUS DESIGN CORP,SR22,No,1.0,Unknown,Personal,0.0,0.0,0.0,1.0,VMC,2022
69576,Accident,WPR23LA069,2022-12-15,Non-Fatal,Substantial,SWEARINGEN,SA226TC,No,2.0,Unknown,Unknown,0.0,0.0,0.0,1.0,Unknown,2022
69577,Accident,ERA23LA091,2022-12-16,Minor,Substantial,CESSNA,R172K,No,1.0,Unknown,Personal,0.0,1.0,0.0,0.0,VMC,2022
69578,Accident,WPR23LA075,2022-12-26,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,Unknown,Personal,0.0,0.0,0.0,1.0,VMC,2022